<mat-card-header>
        <mat-card-title>
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
        </mat-card-title>
        <h4 style="padding:15px">Quản lí câu hỏi</h4>
        <mat-card-subtitle>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="example-container ">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="position">
              <th style="padding-left: 0 !important" class="thhead" mat-header-cell *matHeaderCellDef style="width: 70px"> STT </th>
              <td style="padding-left: 0" class="tdh" mat-cell *matCellDef="let element;let i = index" >{{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
              <th class="thhead" mat-header-cell *matHeaderCellDef style="width: 25%;"> Nội dung </th>
              <td class="tdh" mat-cell *matCellDef="let element" > {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="sortName">
              <th class="thhead" mat-header-cell *matHeaderCellDef style="width: 10%;"> Tên rút gọn </th>
              <td class="tdh" mat-cell *matCellDef="let element" > {{element.sortName}} </td>
            </ng-container>

            <ng-container matColumnDef="level">
              <th class="thhead" mat-header-cell *matHeaderCellDef style="width: 14%;"> Cấp độ </th>
              <td class="tdh" mat-cell *matCellDef="let element" > {{element.level}} </td>
            </ng-container>

            <ng-container matColumnDef="language">
              <th class="thhead" mat-header-cell *matHeaderCellDef style="width: 14%;"> Ngôn ngữ </th>
              <td class="tdh" mat-cell *matCellDef="let element" >  {{element.language}}   </td>
            </ng-container>


            <ng-container matColumnDef="correctScore">
              <th class="thhead" mat-header-cell *matHeaderCellDef style="width: 14%;"> Điểm </th>
              <td class="tdh" mat-cell *matCellDef="let element" >  {{element.correctScore}}   </td>
            </ng-container>

            <ng-container cdkColumnDef="action">
              <th class="thhead" mat-header-cell *matHeaderCellDef>
                Action
              </th>
              <td class="tdh" mat-cell *matCellDef="let element">
                <button mat-mini-fab (click)="Update(element._id);">
                  <mat-icon style="color: white">edit</mat-icon>
                </button>

                <button mat-mini-fab (click)="Open(element._id,element.title,'delete');">
                  <mat-icon style="color: white">delete</mat-icon>
                </button>
              </td>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row  *matRowDef="let row; columns: displayedColumns;let element"></tr>
          </table>
          <!-- element.role=='admin'?{background-color:'green'}:{} -->
        </div>
        <div>
            <button mat-button (click) = 'Add(true)' style="position: absolute;background-color: orangered;color: white;margin-top:15px">Thêm câu hỏi</button>
          <mat-paginator [pageSize]='10' [pageSizeOptions]="[5, 10, 20]" [length]="data.total" [pageIndex]='0' (page)="pageEvent = GetIndexPage($event)"
            showFirstLastButtons></mat-paginator>
        </div>


      </mat-card-content>
